/* chapter 1 */
.heading{
  font-family: 'DM Serif Text', serif;
  padding-bottom: 2%;
  font-size: 7rem;
  text-align: center;

}

.top {
  background-color: #F4DFD0;
  padding: 5% 20%;
  padding-bottom: 10vh;
  font-family: 'Raleway', sans-serif;
}

.top p{
  font-size: 20px;
  line-height: 2;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


/* chapter 1-2 */

.top-bottom{
  font-family: 'Raleway', sans-serif;
  background-color: #DAD0C2;
  padding: 5% 20%;
}

.top-bottom p{
  font-size: 20px;
  line-height: 2;
}
/* image */
.wall {
  background-image: url("https://wallpapercave.com/wp/wp7243608.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 400px;
  padding-top: 125px;

  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #D3E0DC;
}

/* chapter 2 */
.middle {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0%;
  background-color: #D3E0DC;
  padding: 5% 20%;
}

.middle p{
  font-size: 20px;
  line-height: 2;
}

/* footer part */
.bottom h3{
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
}

.bottom {
  background-color: #AEE1E1;
  padding: 6% 10%;
  text-align: center;
}

.icons img{
  height: 40px;
  margin-left: 9%;
  border-radius: 25%;
  filter: gray;
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .5s ease-in-out;
}

.icons img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}
